@model IQueryable<Pet>

<h4> Welcome To My Pets </h4>

@foreach (var p in Model)
{
    <h1>@p.Name</h1>
    <h3>@p.Age</h3>
    <h3>@p.Color</h3>
    <h3>@p.Breed</h3>
    <h3>@p.Sex</h3>
    <h3>@p.Species</h3>

}