@model IQueryable<Pet>

<h4> Welcome To My Pets </h4>

@foreach (var p in Model)
{
    <h1><a asp-controller="Pet" asp-action="Detail" asp-route-id="@p.Id">@p.Name</a></h1>
    <h3>@p.Age</h3>
    <h3>@p.Color</h3>
    <h3>@p.Breed</h3>
    <h3>@p.Sex</h3>
    <h3>@p.Species</h3>
    <img src="@p.CoverImageUrl"alt="Alternate Text" class="img-thumbnail" />

}
<a asp-controller="Pet" asp-action="Create"> Add a Pet </a>