@model History
@inject IPetRepository petRepository

<div class="container">
    <div>
        <h2 class="text-center">Are You Sure?</h2>
    </div>
    <div class="container-image">
        <div class="galleries">
            <img class="rounded-img border-color" src="@petRepository.GetPetCoverUrl(Model.PetId)" alt="Alternate Text" />
        </div>
    </div>
    <table class="content-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Summary</th>
                <th>Weight</th>
                <th>Medication</th>
                <th>First Meal</th>
                <th>Second Meal</th>
                <th>Appointment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Date</td>
                <td>@Model.Summary</td>
                <td>@Model.Weight</td>
                <td>@Model.Medication</td>
                <td>@Model.FirstMeal </td>
                <td>@Model.SecondMeal</td>
                <td>@Model.Appointment</td>
            </tr>
        </tbody>
    </table>
    <div>
        @*<form method="post">

                <button class="btn btn-class mt-2" type="submit" asp-action="Delete" asp-route-id="@Model.Id"> Delete </button>
                <a class="btn btn-class mt-2" asp-controller="Pet" asp-action="Detail" asp-route-id="@Model.PetId"> Back </a>
            </form>*@
        <form method="post">
            <input type="hidden" asp-for="@Model.PetId" />
            <button class="btn btn-class mt-2 center-block" type="submit" asp-action="Delete" asp-route-id="@Model.Id"> Delete </button>
        </form>
        <div>
            <a asp-controller="Pet" asp-action="Detail" asp-route-id="@Model.PetId"><button class="btn btn-class mt-2 center-block"> Back </button></a>
        </div>
    </div>
</div>